#!/bin/sh

# Neovim config file hashes:
{{ range (glob ".config/nvim/**") -}}
{{   $src := replace ".config/nvim" "private_dot_config/nvim" . -}}
{{   if stat (joinPath $.chezmoi.sourceDir $src) -}}
{{     if not ((stat (joinPath $.chezmoi.sourceDir $src)).isDir) -}}
# {{ $src }}: {{ include $src | sha256sum }}
{{     end -}}
{{   end -}}
{{ end -}}

if [ -x "$(command -v nvim)" ]; then
  nvim --headless "+Lazy! sync" +qa
fi
