snippet pdb
	import pdb; pdb.set_trace()
snippet pprint
	import pprint; pprint.pprint(${1:variable})
snippet traceb
	import traceback; traceback.print_stack()
snippet traceex
	import traceback; print traceback.format_exc()
